In [2]:
import pandas as pd
import numpy as np

from statsmodels.tsa.stattools import adfuller

### First Order Difference / Second Order Difference

In [3]:
df = pd.read_csv('Train_Cleaned_KNN_Filtered.csv')

In [4]:
# Sort by 'LAT', 'LON', and 'Date' to ensure correct sequential order
df.sort_values(by=['LAT', 'LON', 'Date'], inplace=True)

# Calculate first and second-order differences for each unique (LAT, LON) combination
df['First_Diff_GT_NO2'] = df.groupby(['LAT', 'LON'])['GT_NO2'].diff()
df['Second_Diff_GT_NO2'] = df.groupby(['LAT', 'LON'])['First_Diff_GT_NO2'].diff()

In [5]:
df.head()

,Date,LAT,LON,Precipitation,LST,AAI,CloudFraction,NO2_strat,NO2_total,NO2_trop,TropopausePressure,GT_NO2,First_Diff_GT_NO2,Second_Diff_GT_NO2
26,2019-01-01,44.924694,10.517502,0.000000,292.402857,0.286079,0.954099,0.000024,0.000395,0.000087,14436.75358,28.525,NaN,NaN
62,2019-01-02,44.924694,10.517502,8.211939,301.414286,-0.579522,0.970421,0.000030,0.000873,0.000109,16692.01730,35.925,7.400,NaN
123,2019-01-03,44.924694,10.517502,0.000000,307.257143,-0.886214,0.273483,0.000037,0.000171,0.000119,19279.33913,33.225,-2.700,-10.100
181,2019-01-04,44.924694,10.517502,0.000000,294.240000,-0.894068,0.109390,0.000050,0.000152,0.000102,19286.55321,24.275,-8.950,-6.250
212,2019-01-05,44.924694,10.517502,0.000000,303.260000,-0.987795,0.000008,0.000063,0.000116,0.000053,19282.00083,6.650,-17.625,-8.675

### Here we drop certain df values which have turned to NaN because of the 1st and 2nd difference calculations

In [6]:
df = df.dropna()